<app-nav></app-nav>
<main class="main-wrapper">
        <section class="graphs" *ngIf="popularInterests">
            <div class="page bar-graphs">
                <div  class="data-visual-wrapper">
                <h2>Interests</h2>
                    <mat-card class="card">
                        <mat-card-title>Interests</mat-card-title>
                            <article *ngFor="let interest of popularInterests" class="data-visual">
                                <div class="demographic-wrapper"><span class="bar-name">{{interest.name}}</span><div class="bar-wrapper"><div class="bar" [ngStyle]="{'height' : '30px', 'width' : interest.count + '%'}"><span>{{interest.count}}</span></div></div></div>
                            </article>
                    </mat-card>
                </div>

                <div  class="data-visual-wrapper ">
                    <h2>Skills</h2>
                    <mat-card class="skills">
                        <article *ngFor="let skill of popularSkills" class="data-skills-visual">
                            <div class="bar-wrapper"><div class="skills-bar" [ngStyle]="{'height' : skill.count + '%', 'width' : '35px'}"><span>{{skill.count}}</span></div></div>
                            <span class="bar-title">{{skill.name}} </span>
                        </article>
                    </mat-card>
                </div>
            </div>
        </section>

        <section class="lists-wrapper">
            <div class="page lists">
                <!-- <mat-card class="lists"> -->
                    <article *ngFor="let list of doglist" class="list">
                        <h2>{{list.name}}</h2>
                        <!-- <img src="{{list.img}}" alt="{{list.img}}"/> -->
                        <ul>
                            <li *ngFor="let item of list.list">{{item}}</li>
                        </ul>
                    </article>
                <!-- </mat-card> -->
            </div>
        </section>
</main>